<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Backstage</title>
</head>
<body class="bg-[#F5EEDD] text-[#06202B] font-sans antialiased">
{% include "components/navbar.html.jinja"%}

<h1 class=" text-center font-semibold text-4xl pt-6">Collaborations</h1>
<main class= "flex justify-center">

        <div class="col-2 text-center">
            <h2></h2>
            <div class="w-full h-[305px] rounded-3xl 
                      bg-gradient-to-br from-[#7AE2CF] to-[#077A7D] 
                      shadow-xl place-content-center">
                        {% for user in Collabrations %}
                            {{Profile.Profile_Picture}}

                            <h1>{{Profile.Profile_name}}</h1>

                            <h1>{{User.email}}</h1>
                        {% endfor%}
                      </div>
        </div>
         
    </div>
</main>
<div class = "sticky bottum-0">
    {% include "components/footer.html.jinja" %}
</div>
</body>

