<footer class="bg-gradient-to-r from-[#7AE2CF] to-[#F5EEDD] shadow-sm sticky bottum-0">
<div class=" container mx-20 my-4 flex flex-row justify-center  w-full  items-center">
    <div class="text-m text-center font-semibold ">
        <p>2026 BackStage productions</p>
        <br>
        <p>Privacy Policy | Terms of Service</p>
    </div>
</div>
    
    
</footer>