<header class="bg-gradient-to-r from-[#F5EEDD] to-[#7AE2CF] shadow-sm">
  <div class="max-w-7xl mx-auto px-6  flex items-center justify-between">
    
    <a href="/">
      <div class="flex items-center gap-2">
        <img src="/static/Backstage_No_Bg.png" alt="logo" class="h-20">
        <h1 class="text-2xl font-semibold tracking-tight text-[#06202B]">BackStage</h1>
      </div>
    </a>

    <div class="flex items-center gap-4">
      {% if not current_user.is_authenticated %}
        <a href="/login" class="px-5 py-2 rounded-xl font-medium text-[#06202B] hover:bg-[#06202B]/10 transition">
          Login
        </a>
        <a href="/register" class="px-6 py-2 rounded-xl font-semibold bg-[#077A7D] text-white shadow-md hover:bg-[#06202B] hover:shadow-lg transition duration-200">
          Sign Up
        </a>

      {% else %}
       
        <a href="/matching" class="px-5 py-2 rounded-xl font-medium text-[#06202B] hover:bg-[#06202B]/10 transition">
          Back
        </a>
        
        <a href="/logout" class="px-5 py-2 rounded-xl font-medium text-[#06202B] hover:bg-[#06202B]/10 transition">
          Logout
        </a>
        
      {% endif %}
    </div>

  </div>
</header>